DATABASE_URL=postgresql://localhost/poshak_development
REDIS_URL=redis://localhost:6379/1
APP_HOST=localhost:3000
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_BUCKET=
