<% if resource.errors.any? %>
  <div class="rounded border border-red-200 bg-red-50 p-3 text-sm text-red-700">
    <p class="mb-1 font-medium"><%= pluralize(resource.errors.count, "error") %> prevented this form from saving:</p>
    <ul class="list-inside list-disc">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
